# OS
.DS_Store

# IDEs
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env
.pytest_cache/
.mypy_cache/

# Airflow
airflow.db
airflow.cfg
logs/
unittests.cfg

# dbt
dbt_packages/
target/
user.yml

# Docker
docker-compose.override.yml

# Misc
*.log
